.users {
	display: flex;
	justify-content: center;
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 40vw;
		row-gap: .5rem;
		div{
			font-size: 1.4rem;
			font-weight: 600;
			margin: 0 0 1rem 0;
			color: color-mix(in srgb, pink, black 70%);
		}
		select {
			display: flex;
			padding: 0.5rem;
			background: pink;
			border-radius: 6px;
			border: 1px solid white;
			color: white;
			&:hover {
				cursor: pointer;
			}
			&:focus{
				outline-color: white;
			}
		}
	}
}
